body {
	width: 60%;
	margin: 0 auto;
}

/* http://www.tizag.com/cssT/float.php */
img.floatLeft { 
    float: left; 
    margin: 6px 20px 0 0; 
}
img.floatRight { 
    float: right; 
    margin: 6px 0 0 20px;
}
/* */

img.homePic {
	width: 600px; 
	border: 2px solid #1ba1e2;
}

p {
	text-indent: 10px;
}

hr {
	border: 0;
	width: 80%;
	background-color: #1BA1E2;
	height: 1px;
}

div.footer {
	margin: 30px 0 0 0;
	line-height: 2;
}
div.footer hr{
	width: 100%;
}
img.footer-icon {
	height: 100px;
	float: left;
	margin: 10px;
}

div.featureDiv {
	text-align: center;
}